.git
.gitignore
.venv
venv
env
.pytest_cache
.mypy_cache
.ruff_cache
.cache
**/__pycache__
**/*.py[cod]
**/*.egg-info
.DS_Store
.idea
.vscode
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.bin
*.safetensors
README.md
Makefile
